@import './reset.less';
@import './block_animate.less';
@import './variable.less';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-index_design {
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease 0s;
  }

  nav {
    position: fixed;
    right: 32px;
    background: url('../assets/21.png')no-repeat;
    top: 15px;
    width: 447px;
    height: 200px;
    z-index: 99;
    background-position: 0 26px;
    background-size: cover;
    padding-left: 85px;
    padding-right: 47px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .nav-item {
      width: 55px;
      height: 55px;
      line-height: 55px;
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
      background: url('../assets/22.png') no-repeat center center;
      text-align: center;
      color: #fff;

      &:nth-child(2) {
        background: url('../assets/23.png') no-repeat center center;
      }

      &:nth-child(3) {
        background: url('../assets/24.png') no-repeat center center;
      }

      &:nth-child(4) {
        background: url('../assets/25.png') no-repeat center center;
      }
    }
  }

  .page {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .page0 {
    background: url('../assets/06.png') top no-repeat;
    position: relative;

    .girl_pic {
      position: absolute;
      right: -410px;
      top: -61px;
      width: auto;
      height: 141%;
      transition: all 1s;
      z-index: 10;

      &.xFlying {
        animation: GirlFloat 1.3s ease-in-out 0.3s infinite alternate;
      }
    }

    .he_animal {
      z-index: 9;
      position: absolute;
      left: 76px;
      bottom: 64px;
      width: auto;
      height: 500px;

      &.xFlying {
        animation: heFlyIng 8s cubic-bezier(0.36, 0, 0.64, 1) infinite;
      }

      &:hover {
        animation-play-state: paused;
        border: 1px solid #eee;
        cursor: grabbing;
        border-radius: 6px;
      }
    }

    &_content {
      position: absolute;
      left: 50%;
      width: 800px;
      padding-bottom: 40px;
      margin-left: -400px;
      z-index: 12;
      margin-top: 33px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 29;

      .word1 {
        .set_width_style(195);
      }

      .word2 {
        .set_width_style(741);
      }

      .word3 {
        user-select: none;
        font-size: 36px;
        letter-spacing: 4px;
        font-family: cursive;
        color: #fff;
        display: inline-block;
        text-align: center;
        background: url('../assets/12.png') no-repeat;
        background-size: 100% 100%;
        width: 438px;
        height: 122px;
        line-height: 122px;

        .hue {
          &.xFlying {
            font-weight: bold;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(to right,
                red,
                orange,
                yellow,
                green,
                cyan,
                blue,
                purple);
            animation: hue 1.5s linear infinite;
          }
        }
      }

      .word4 {
        width: 65px;
        height: 65px;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        .first-img,
        .second-img {
          position: absolute;
          left: 0;
          top: 0;
        }

        .first-img {
          display: none;

          &.xFlying {
            display: inline-block;
            filter: blur(3px);
            animation: btn_bg_move 20s infinite;
          }

          top: -50%;
        }

        .second-img {
          width: 65px;
          border-radius: 50%;
          height: 65px;
        }
      }

      .word5 {
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .word5_img {
          color: @gold-border_color;
          padding-left: 15px;
          box-sizing: border-box;
          width: 92px;
          height: 264px;
          text-align: center;
          line-height: 30px;
          background: url('../assets/15.png')no-repeat;
          background-size: 100% 100%;
          writing-mode: vertical-lr;
          writing-mode: tb-lr;
          letter-spacing: 3px;
          padding-top: 20px;

          &.xFlying:hover {
            cursor: pointer;
          }

          &:nth-child(1) {
            &.xFlying:hover {
              animation: rubberBand 1s;
            }
          }

          &:nth-child(2) {
            &.xFlying:hover {
              animation: bounce 1s;
            }

            background: url('../assets/16.png')no-repeat;
            background-size: 100% 100%;
          }

          &:nth-child(3) {
            &.xFlying:hover {
              animation: jello 1s;
              transform-origin: center;
            }

            background: url('../assets/17.png')no-repeat;
            background-size: 100% 100%;
          }

          &:nth-child(4) {
            &.xFlying:hover {
              animation: tada 1s;
              transform-origin: center;
            }

            background: url('../assets/18.png')no-repeat;
            background-size: 100% 100%;
          }

          &:nth-child(5) {
            &.xFlying:hover {
              animation: swing 1s;
              transform-origin: top center;
            }

            background: url('../assets/19.png')no-repeat;
            background-size: 100% 100%;
          }

          .strong {
            font-weight: bold;
          }
        }
      }
    }
  }

  .page1 {
    background: url('../assets/26.png')no-repeat;
    background-size: 100% 100%;

    &_left {
      width: 50vw;
      position: relative;
      overflow: hidden;
      height: 100vh;
      display: inline-block;
      float: left;
      z-index: 39;

      .page_left_item {
        position: absolute;
        right: 0;
        .set_width_style(452);
        z-index: 39;
      }

      .left_item_01 {
        top: 190px;
        right: 15px;

      }

      .left_item_02 {
        display: inline-block;
        top: 350px;
        right: 0px;

        img {
          width: 100%;
        }
      }

      .left_item_03 {
        display: inline-block;
        top: 500px;
      }

      img {
        width: 100%;
      }
    }

    &_right {
      display: inline-block;
      width: 50vw;
      height: 100vh;
      position: relative;

      .page1_girl {
        height: 94vh;
        position: absolute;
        bottom: 0;
        left: -284px;
        z-index: 29;

        &.xFlying {
          animation: GirlFloat 1.3s ease-in-out 0.3s infinite alternate;
        }
      }

      .page1_girl_bg1,
      .page1_girl_bg2 {
        .set_width_style(610);
        position: absolute;
        z-index: 19;
      }

      .page1_girl_bg1 {
        left: -21px;
        bottom: calc(94vh - 460px);

        &.xFlying {
          animation: girlRoating01 20s linear infinite;
          transform-origin: center center;
        }
      }

      .page1_girl_bg2 {
        right: -101px;
        bottom: 120px;

        &.xFlying {
          animation: girlRoating02 5s linear infinite;
          transform-origin: center center;
        }
      }
    }
  }

  .page2 {
    background-color: skyblue;
  }

  .page3 {
    background-color: gold;
  }

  .page4 {
    background-color: rgb(111, 222, 123);
  }

  .circles {
    width: 138px;
    height: 294px;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    left: 0;
    top: 20%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 10px;
    border: 1px solid @gold-border_color;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px @gold-border_color;
    display: flex;
    flex-direction: column;
    z-index: 99;

    &_item {
      font-size: 12px;
      box-sizing: border-box;
      cursor: pointer;
      color: @font-gold_color;
      flex: 1;
      display: flex;
      align-items: center;

      &:hover {
        font-weight: bold;
        transform: scale(1.1);
        transition: all .3s ease-out;
      }

      .name_line {
        position: relative;

        &::before {
          content: '';
          width: 1px;
          height: 3px;
          background: @gold-border_color;
          position: absolute;
          bottom: -8px;
          left: 1px;
        }

        &::after {
          content: '';
          width: 120%;
          height: 1px;
          background: @gold-border_color;
          position: absolute;
          bottom: -7px;
          left: 0;
        }
      }

      .icon_flower {
        display: none;
        transition: all 2s;
      }

      .icon_flower_02 {
        display: inline-block;
        margin-left: 25px;
        margin-top: 18px;
        transition: all 2s;

        img {
          &.xFlying {
            animation: flowerSpinClockwise .8s linear infinite;
            transform-origin: center center;
          }
        }
      }
    }

    .pointActive {
      font-weight: bold;

      .icon_flower_02 {
        display: none;
      }

      .icon_flower {
        display: inline-block;
        margin-left: 25px;
        position: relative;

        &_item {
          width: 20px;
          height: 20px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: rotate(45deg);

          .animate__flowerSpinClockwise {
            animation-duration: 1s;
          }

          .animate__Counterclockwise {
            animation-duration: 3s;
          }
        }
      }
    }
  }

}